<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
    <h2>Agregar profesor</h2>
    <form class="form-horizontal" method="post" action="/professor/add" th:object="${professor}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="dni">DNI:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="dni" name="dni" placeholder="DNI" required="true" />
                <span class="text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" th:value="${professor.dni}" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del profesor" required="true" th:value="${professor.name}" />
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:value="${professor.name}" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Apellidos del profesor" required="true" th:value="${professor.surname}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="category">Categoría:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="category" name="category" placeholder="Categoría del profesor" required="true" th:value="${professor.category}" />
                <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}" th:value="${professor.category}" ></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
